name: Build & Deploy

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install & Build
        run: |
          cd src
          npm ci
          npm run build

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: svelte-build
          path: src/build
          if-no-files-found: error

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: svelte-build
          path: pages-dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./pages-dist
